.value {
	border-left: 24px solid #000;
	padding-left: 10px;
	margin-top: 20px;
}

.responsive .react-colorful {
	width: auto;
}

.custom-layout .react-colorful {
	padding: 16px;
	margin: 15px 0;
	border-radius: 5px;
	background: #33333a;
	height: 330px;
	width: 300px;
}

.custom-layout .react-colorful__saturation {
	margin: 15px 0;
	border-radius: 5px;
	border-bottom: none;
}

.custom-layout .react-colorful__hue {
	order: -1;
}

.custom-layout .react-colorful__hue,
.custom-layout .react-colorful__alpha {
	height: 14px;
	border-radius: 5px;
}

.custom-layout .react-colorful__hue-pointer,
.custom-layout .react-colorful__alpha-pointer {
	width: 20px;
	height: 20px;
}

.input {
	background-color: #ecece1;
	color: #1b1c19;
	border: solid #1b1c19 1px;
	font-size: 20px;
	padding: 10px;
	margin: 10px 0;
	font-family: "ppneuebit-bold";
	cursor: pointer;
}
